# OpenVPN server configuration '{{ name }}'
# Managed by Salt
# Template: {{ source }}

{% include 'openvpn/files/common_opts.jinja' %}
{%- set config = salt['pillar.get']("openvpn:{}:{}".format(type, name), {}) %}


{%- if not (config.tls_server is defined and config.tls_server == False) %}
{%- if not (config.secret is defined) %}
tls-server
{%- endif %}
{%- endif %}

{%- if config.local is defined %}
local {{ config.local }}
{%- endif %}

{%- if config.port_share is defined %}
port-share {{ config.port_share }}
{%- endif %}

{%- if config.topology is defined %}
topology {{ config.topology }}
{%- endif %}

{%- if config.server is defined %}
server {{ config.server }}
{%- elif config.server_bridge is defined %}
server-bridge {{ config.server_bridge }}
{%- elif config.mode is defined %}
mode {{ config.mode }}
{%- endif %}

{%- if config.ifconfig_pool is defined %}
ifconfig-pool {{ config.ifconfig_pool }}
{%- endif %}

{%- if config.server_ipv6 is defined %}
server-ipv6 {{ config.server_ipv6 }}
{%- endif %}

{%- if config.ifconfig_ipv6 is defined %}
ifconfig-ipv6 {{ config.ifconfig_ipv6 }}
{%- endif %}

{%- if config.ifconfig_ipv6_pool is defined %}
ifconfig-ipv6-pool {{ config.ifconfig_ipv6_pool }}
{%- endif %}

{%- if config.ifconfig_pool_persist is defined %}
ifconfig-pool-persist {{ config.ifconfig_pool_persist }}
{%- endif %}

{%- if config.server_bridge is defined %}
server-bridge {{ config.server_bridge }}
{%- endif %}

{%- if config.push is defined %}
{%- for push in config.push %}
push "{{ push }}"
{%- endfor %}
{%- endif %}

{%- macro route_fixing(checked_ip) %}
{%-   if '/' in checked_ip %}
{%-     set ip_mask = checked_ip.split('/') -%}
{%-     if '.' in ip_mask[1] %}
{{ ip_mask[0] }} {{ ip_mask[1] }}
{%-     elif ip_mask[1] == '1' -%}
{{ ip_mask[0] }} 128.0.0.0
{%-     elif ip_mask[1] == '2' -%}
{{ ip_mask[0] }} 192.0.0.0
{%-     elif ip_mask[1] == '3' -%}
{{ ip_mask[0] }} 224.0.0.0
{%-     elif ip_mask[1] == '4' -%}
{{ ip_mask[0] }} 240.0.0.0
{%-     elif ip_mask[1] == '5' -%}
{{ ip_mask[0] }} 248.0.0.0
{%-     elif ip_mask[1] == '6' -%}
{{ ip_mask[0] }} 252.0.0.0
{%-     elif ip_mask[1] == '7' -%}
{{ ip_mask[0] }} 254.0.0.0
{%-     elif ip_mask[1] == '8' -%}
{{ ip_mask[0] }} 255.0.0.0
{%-     elif ip_mask[1] == '9' -%}
{{ ip_mask[0] }} 255.128.0.0
{%-     elif ip_mask[1] == '10' -%}
{{ ip_mask[0] }} 255.192.0.0
{%-     elif ip_mask[1] == '11' -%}
{{ ip_mask[0] }} 255.224.0.0
{%-     elif ip_mask[1] == '12' -%}
{{ ip_mask[0] }} 255.240.0.0
{%-     elif ip_mask[1] == '13' -%}
{{ ip_mask[0] }} 255.248.0.0
{%-     elif ip_mask[1] == '14' -%}
{{ ip_mask[0] }} 255.252.0.0
{%-     elif ip_mask[1] == '15' -%}
{{ ip_mask[0] }} 255.254.0.0
{%-     elif ip_mask[1] == '16' -%}
{{ ip_mask[0] }} 255.255.0.0
{%-     elif ip_mask[1] == '17' -%}
{{ ip_mask[0] }} 255.255.128.0
{%-     elif ip_mask[1] == '18' -%}
{{ ip_mask[0] }} 255.255.192.0
{%-     elif ip_mask[1] == '19' -%}
{{ ip_mask[0] }} 255.255.224.0
{%-     elif ip_mask[1] == '20' -%}
{{ ip_mask[0] }} 255.255.240.0
{%-     elif ip_mask[1] == '21' -%}
{{ ip_mask[0] }} 255.255.248.0
{%-     elif ip_mask[1] == '22' -%}
{{ ip_mask[0] }} 255.255.252.0
{%-     elif ip_mask[1] == '23' -%}
{{ ip_mask[0] }} 255.255.254.0
{%-     elif ip_mask[1] == '24' -%}
{{ ip_mask[0] }} 255.255.255.0
{%-     elif ip_mask[1] == '25' -%}
{{ ip_mask[0] }} 255.255.255.128
{%-     elif ip_mask[1] == '26' -%}
{{ ip_mask[0] }} 255.255.255.192
{%-     elif ip_mask[1] == '27' -%}
{{ ip_mask[0] }} 255.255.255.224
{%-     elif ip_mask[1] == '28' -%}
{{ ip_mask[0] }} 255.255.255.240
{%-     elif ip_mask[1] == '29' -%}
{{ ip_mask[0] }} 255.255.255.248
{%-     elif ip_mask[1] == '30' -%}
{{ ip_mask[0] }} 255.255.255.252
{%-     elif ip_mask[1] == '31' -%}
{{ ip_mask[0] }} 255.255.255.254
{%-     elif ip_mask[1] == '32' -%}
{{ ip_mask[0] }} 255.255.255.225
{%-     endif %}
{%-   else -%}
{{ checked_ip }}
{%-   endif -%}
{%- endmacro -%}

{%- if pillar["openvpn"]["routes"] is defined or pillar["openvpn"]["domains_for_routes"] is defined %}
{%- set all_routes = [] %}
  {%- if pillar["openvpn"]["routes"] is defined %}
  {%- set all_routes = all_routes + pillar["openvpn"]["routes"] %}
  {%- endif %}

  {%- if pillar["openvpn"]["domains_for_routes"] is defined %}
    {%- set domains_based_routes = [] %}
    {%- for domain in pillar["openvpn"]["domains_for_routes"] %}
    {%- set resolved_ips = salt['dig.A'](domain) %}
      {%- for ip in resolved_ips %}
        {%- if not ip.startswith('127.0.0.') %}
          {%- do domains_based_routes.append(ip) %}
        {%- endif %}
      {%- endfor %}
    {%- endfor %}
  {%- set all_routes = all_routes + domains_based_routes %}
  {%- endif %}

{%- set all_routes = all_routes | sort | unique %}
  {%- for ip in all_routes -%}
    {%- if pillar["openvpn"]["server_ip"] not in ip %}
push "route {{ route_fixing(ip) }}"
    {%- endif %}
  {%- endfor %}
{%- endif %}

{%- if config.client_config_dir is defined %}
client-config-dir {{ config.client_config_dir }}
{%- endif %}

{%- if config.learn_address is defined %}
learn-address {{ config.learn_address }}
{%- endif %}

{%- if config.client_to_client is defined and config.client_to_client == True %}
client-to-client
{%- endif %}

{%- if config.duplicate_cn is defined and config.duplicate_cn == True %}
duplicate-cn
{%- endif %}

{%- if config.max_clients is defined %}
max-clients {{ config.max_clients }}
{%- endif %}

{%- if config.ccd_exclusive is defined and config.ccd_exclusive == True %}
ccd-exclusive
{%- endif %}

{%- if config.username_as_common_name is defined and config.username_as_common_name == True %}
username-as-common-name
{%- endif %}

{%- if config.plugins is defined %}
{%- for plugin in config.plugins %}
plugin {{ plugin }}
{%- endfor %}
{%- endif %}

{%- if config.client_cert_not_required is defined %}
client-cert-not-required
{%- endif %}

{%- if config.verify_client_cert is defined %}
verify-client-cert {{ config.verify_client_cert }}
{%- endif %}

{%- if config.management is defined %}
management {{ config.management }}
{%- endif %}

{%- if config.auth_user_pass_verify is defined %}
auth-user-pass-verify {{ config.auth_user_pass_verify }}
{%- endif %}

{#- `false is number` and `true is number` both also return true... #}
{%- if config.auth_gen_token is defined
        and (config.auth_gen_token|int is sameas (config.auth_gen_token)
             or config.auth_gen_token is sameas true) %}
auth-gen-token{% if config.auth_gen_token is not sameas true %} {{ config.auth_gen_token|int }}{% endif %}
{%- endif %}

{%- if config.setenv is defined %}
{%- for setenv in config.setenv %}
setenv {{ setenv }}
{% endfor %}
{% endif %}
